<html>
  <head>
    <title>New Tab</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>

    <style>
      body {
        font-family: "Roboto Condensed", "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        background-size: cover;
        background-image: url("http://i.imgur.com/S2UwmuF.jpg");
        -webkit-user-select: none;
        cursor: default;
      }

      .clear-fix { clear: both; }
      .temp { font-weight: 300; }
      .time { line-height: 190px; }
      .current-weather {
        margin-right: 10px;
        float: right;
      }
    </style>
  </head>
  <body>
    {{{ body }}}
  </body>
  <script src="/dist/bundle.js"></script>
</html>
